input{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border-color: black;
    height: 30px;
    width: 350px;
    margin: 5%;
}

body{
    background-color: #324b4c;
    margin: 0%;
    padding: 0%;
}

.c-header img{
    margin: 10%;
    height: 50px;
    width: 50px;
}
.c-header{
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    background-color: #222d78;
    width: 100%;
    height: 60px;
}



.c-icon{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: row;
    justify-content: space-between;
}

.c-icon img{
    display: flex;
    margin: 25%;
    width: 25px;
    height: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.c-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5%;
}

.b-login{
    display: flex;
    margin: 5%;
    padding-left: 10px;
    padding-right: 10px;
}

.b-signup{
    display: flex;
    margin: 5%;
    
}


.c-table{
    display: flex;
    flex-direction: row;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    /* background-color: tomato; */
    width: 70%;
    height: 100%;
    flex-wrap: nowrap;
    text-align: center;
}

.table img{
    width: 75px;
    height: 75px;
    margin-left: 1%;
}

.table{
    background-color: maroon;
    width: 35%;
    border-radius: 5px;
    margin-right: 3%;
}

.table li{
    list-style: none;
}

.circle-table{
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    background-color: yellow;
    width: 8%;
    
    border-radius: 100%;
}

.table-text{
    margin-top: 2%;
    float: left;
    width: 50%;
}
.float-table{
    
}

.float-image{

}


.table-image{
    float: right;
    width: 50%;
}


.c-body{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.c-box{
    display: flex;
    flex-direction: row;
    

}


.image{
    margin: 10%;
}

.c-trending{
    float: left;
    margin-left: 2%;
    margin-bottom: 15%;
    background-color: violet;
    width: 70%;
    height: 15%;
    margin-bottom: 0%;
}

.c-sidebar{
    display: flex;
    float: right;
    margin-right: 5%;
    flex-direction: column;
    height: 90%;
    background-color: green;
    width: 20%;
    height: 25%;

}

.c-float{
    margin-top: 2%; 
    margin-bottom: 0%;
}

.c-flex{
    display: flex;
    flex-direction: row;
    float: left;
    width: 70%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.flex{
    display: flex;

    background-color: aqua;
    width: 70%;
    height: 30%;
    text-align: center;
    padding-right: 2%;
}

.c-post{
    display: flex;
    
    background-color: white;
    height: 30%;
    width: 100%;
}

.horizontal img{
    height: 150px;
    width: 200px;
    margin-left: 25%;
    margin-right: 20%;
    align-items: center;
    text-align: center;
}

.vertical img{
    height: 300px;
    width: 250px;
    margin-left: 8%;
    margin-right: 15%;
}

.squares img{
    height: 150px;
    width: 150px;
    margin-left: 30%;
    margin-right: 30%;
}
